absl-py
annotated-types
asgiref
attrs
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
decorator
Django
django-allauth
docstring_parser
filelock
Flask
flatbuffers
fonttools
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-cloud-translate
google-cloud-vision
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
httplib2
huggingface-hub
idna
importlib_metadata
itsdangerous
jax
jaxlib
Jinja2
joblib
jwt
kiwisolver
lazy_loader
librosa
llvmlite
MarkupSafe
matplotlib
ml_dtypes
mpmath
msgpack
mysql-connector-python
networkx
numba
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
platformdirs
pooch
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
python-decouple
python-dotenv
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
sentencepiece
setuptools
shapely
six
sounddevice
soundfile
soxr
sqlparse
sympy
threadpoolctl
tokenizers
torch
torchvision
torchaudio

tqdm
transformers
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
Werkzeug
zipp
